.env
./cache/
resources/models/*
# Python cache
*/__pycache__
*cache*
*/*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
report/*
src/__pycache__/evaluate.cpython-39.pyc
src/__pycache__/prompts.cpython-39.pyc
src/__pycache__/models.cpython-39.pyc
src/__pycache__/base.cpython-39.pyc
src/__pycache__/utils.cpython-39.pyc
nohup.out
CLAUDE.md